<div class="col-sm-12 .col-centered text-center">
  <div class="profile-container">
  <%= form_for @musician, :html => { :class => 'align-forms' } do |f| %>
      <%= f.label :name %>
    <div class="form-group">
      <%= f.text_field :name, class:"input-medium" %>
    </div>
      <%= f.label :username %>
    <div class="form-group">
      <%= f.text_field :username %>
    </div>
      <%= f.label :instrument %>
    <div>
      <%= f.text_field :instrument %>
    </div>
      <%= f.label :profile %>
    <div class="form-group">
      <%= f.text_field :profile %>
    </div>
      <%= f.label :password %>
    <div class="form-group">
      <%= f.password_field :password %>
    </div>
    <div class="form-group">
      <%= f.submit "Start making music", class:"submit-button btn medium-button" %>
    </div>
  </div>
</div>
<% end %>
