<h1 class="show-headings">Musician profile</h1>
<% if current_user && (@musician.id == current_user.id) %>
  <div class="musician-profile-manager">
    <h1 class="musician-profile-heading"> Your Profile </h1>
    <%= link_to edit_musician_path(current_user) do %>
      <i class="far fa-edit"><span class="hidden">edit</span></i></i>
    <% end %>
    <%= link_to musician_path(current_user), method:"delete", data: {confirm: "Are you sure?"} do %>
      <i class="fas fa-trash-alt"><span class="hidden">delete</span></i></i>
    <% end %>
  </div>
<% end %>

<div class="mp-show-container">
  <div class="musician-container-show">
    <div class="imgdiv">
    </div>
    <h4 class="profile-heading">Name:</h4>
    <p class="profile-text"><%= @musician.name %></p>
    <h4 class="profile-heading">Instrument:</h4>
    <p class="profile-text"><%= @musician.instrument %></p>
    <h4 class="profile-heading">Profile:</h4>
    <p class="profile-text"><%= @musician.profile %></p>
  </div>
  <div class="musician-container-band-show">
  <h4 class="band-profile-heading">Bands</h4>
  <% if @musician.bands.length > 0 %>
    <% @musician.bands.each do |band| %>
      <%= link_to band.name, musician_band_path(@musician, band), class:"btn submit-button large-button" %>
      <% end %>
    <% else %>
      <i class="fas fa-microphone-alt-slash"></i>
      <%= link_to "Need a band?", musician_bands_path(current_user), class:"btn submit-button large-button" %>
    <% end %>
  </div>
</div>
  <% if current_user && (@musician.id == current_user.id) %>
    <div id="create-button">
      <%= link_to "Create a band", new_musician_band_path(@musician), class: "btn submit-button large-button" %>
    </div>
<% end %>
