<div class="col-sm-12 .col-centered text-center">
  <div class="profile-container">
  <%= form_for [@musician, @band], :html => { :class => 'align-forms' } do |f| %>
      <%= f.label :name %>
    <div class="form-group">
      <%= f.text_field :name, class:"input-medium" %>
    </div>
      <%= f.label :logo %>
    <div class="form-group">
      <%= f.text_field :photo %>
    </div>
      <%= f.label :genre %>
    <div>
      <%= f.text_field :genre %>
    </div>
    <div class="form-group">
      <%= f.submit "Make the band", class:"submit-button btn medium-button" %>
    </div>
  </div>
</div>
<% end %>
