<!DOCTYPE html>
<html>
  <head>
    <title>Ensemble</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Abel|Anton|Bungee" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render partial:"/partials/nav" %>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
