<!DOCTYPE html>
<html>
  <head>
    <title>Ensemble</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Abel|Permanent+Marker|Anton|Bungee" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <% if current_user %>
      <%= render partial:"/partials/nav" %>
    <% else %>
      <%= render partial:"/partials/anonymousnav" %>
    <% end %>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
    <%= yield %>
  </body>
</html>
