<!DOCTYPE html>
<html>
  <head>
    <title>Ensemble</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Abel|Permanent+Marker|Anton|Bungee" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'https://s3-us-west-1.amazonaws.com/kc-ensemble/favicon-music.ico' %>
  </head>
  <body>
    <% if current_user %>
      <%= render partial:"/partials/nav" %>
    <% else %>
      <%= render partial:"/partials/anonymousnav" %>
    <% end %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
